body{
    background-color: #807e7e;
    width: 100vw;
    height: 100vh;
    font-family: 'Mukta', sans-serif;
    cursor: default;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');


/*************** formulario ********************/

.tituloIndex{
    font-size: 40px;
    ;
}

#formularioLog {
    width: 300px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#formularioLog input[type="text"],
#formularioLog input[type="password"],
#formularioLog button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

#botonLog {
    background-color: #0058fc;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
}

#botonLog:hover {
    background-color: #0e0f0f;
}

/************************ pagina princial ******************************/

.tituloPrincial{
    text-align: center;
    color: black;
    font-size: 70px;
    margin: 100px;
    margin-top: 250px;
}

.tituloDos{
    font-size: 50px;
}

.cerrarSesion {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #0058fc;
    color: white;
    border: none;
    cursor: pointer;
}
.cerrarSesion:hover {
    background-color: black;
}

/******************** footer ************************/

footer {
    text-align: center;
    margin-top: 150px;
}

footer h2 {
    font-size: 35px;
    color: black;
}
